.main_Container {
  width: 100%;
  height: 1000px;
}
.main_Container .logo_container {
  width: 40%;
}
.main_Container .logo_container .logo {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.main_Container .contact_nav_container {
  width: 60%;
}
.main_Container .contact_nav_container .contactInfo {
  width: 100%;
  height: 50%;
}
.main_Container .contact_nav_container .contactInfo ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_Container .contact_nav_container .contactInfo ul li {
  padding-right: 1.25rem;
}
.main_Container .contact_nav_container .contactInfo ul i {
  font-size: 2vh;
  padding-right: 0.937rem;
  color: darkred;
}
.main_Container .contact_nav_container .contactInfo ul span {
  font-size: 2vh;
  font-weight: 400;
  color: black;
}
.main_Container .contact_nav_container .topNav {
  width: 100%;
  height: 50%;
  border: 2px solid red;
  display: flex;
}
.main_Container .contact_nav_container .topNav ul {
  display: flex;
}
.main_Container .contact_nav_container .topNav ul li {
  color: darkred;
  margin-right: 20%;
  text-decoration: none;
  border: 2px solid black;
}
